.pagetitle {
  width: 75%;
  float: center;
  text-align: center;
  color: white;
  background-color: red;
  border: 5px solid black;
  border-radius: 10px;
  margin: auto;
}

.rights{
  text-align: right;
}

.card {
  width: 25%;
  float: left;
  text-align: left;
  color: white;
  background-color: red;
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px;
}

.largetext{
  font-size: 80px;
}

.medtext{
  font-size: 40px;
}

.smalltext{
  font-size: 20px;
}

p{
  text-align: justify;
  margin: auto;
}

a{
  color: white;
}

img{
  display: block;
  margin: auto;
  width: 85%;
  border: 5px solid black;
  border-radius: 20px;
}
