.pagetitle {
  width: 75%;
  float: center;
  text-align: center;
  color: white;
  background-color: red;
  border: 5px solid black;
  border-radius: 10px;
  margin: auto;
}

h3{
  padding-top: 5px;
  text-align: right;
  font-size: 15px;
}

.card {
  width: 25%;
  float: left;
  text-align: left;
  color: white;
  background-color: red;
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px;
}

.finalcard {
  width: 75%;
  float: center;
  text-align: center;
  color: white;
  background: -webkit-linear-gradient(black, red);
  border: 5px solid black;
  border-radius: 10px;
  margin: auto;
}

.largetext{
  font-size: 80px;
}

.medtext{
  font-size: 40px;
}

.smalltext{
  font-size: 20px;
}

p{
  text-align: justify;
  margin: auto;
}

a{
  color: white;
}

img{
  display: block;
  margin: auto;
  width: 85%;
  border: 5px solid black;
  border-radius: 20px;
}

body{
  background: -webkit-radial-gradient(black, white);
}